h2 {
    /* External CSS */
    font-size: medium;
    text-align: center;
    color :brown; 
}
#custom-header{
    color: aquamarine;
}
.p1{
    color: blueviolet;
}
.text-prop{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: oblique;
    text-align: right;
    text-decoration: overline;
    text-transform: capitalize;
    text-shadow: 2px 10px 10px;
    text-decoration-color: chocolate;
}
